/* Home.css */
.home-background {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  background-image: url("/assets/images/Waves_60.jpg");
  background-size: cover;
  background-position: center;
}

.home-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-content {
  flex: 1;
  padding: 50px;
}

/* .home-image img {
  max-height: 350px;
  float: right;
  padding: 10px;
} */

.home-image {
  flex: 0 0 300px; /* Adjust the size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.home-image img {
  max-width: 100%;
  height: auto;
}

.home-content a {
  color: black; 
  /* text-decoration: none;  */
  font-weight: bold; 
  position: relative;
}

.home-content a:hover {
  color: darkslategrey; 
} 